{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <link href="{% static 'css/web-ui.css' %}" rel="stylesheet">
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body class="bg-gradient-to-r from-blue-800 to-indigo-900">
    {% block body %}
    {% if messages %}
    <!-- <div class="bg-blue-200 p-4 mb-4">
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div> -->
    {% endif %}
    <!-- <div class="bg-white p-4 mb-4">
        <strong>{% trans "Menu:" %}</strong>
        <ul class="list-none">
            {% if user.is_authenticated %}
                <li class="inline-block mr-4">
                    <a href="{% url 'account_email' %}" class="text-blue-500">{% trans "Change Email" %}</a>
                </li>
                <li class="inline-block">
                    <a href="{% url 'account_logout' %}" class="text-blue-500">{% trans "Sign Out" %}</a>
                </li>
            {% else %}
                <li class="inline-block mr-4">
                    <a href="{% url 'account_login' %}" class="text-blue-500">{% trans "Sign In" %}</a>
                </li>
                <li class="inline-block">
                    <a href="{% url 'account_signup' %}" class="text-blue-500">{% trans "Sign Up" %}</a>
                </li>
            {% endif %}
        </ul>
    </div> -->
    {% block content %}
    {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
</body>

</html>